{% extends "skel.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
{% for post in posts %}
<div class="post">
  <div class="post-title"><a href="post/{{ post.Slug }}.html">{{ post.Title }}</a></div>
  <div class="post-meta">Added on <span>{{ post.Time }}</span>.</div>
  <div class="post-content">
    {% if shortlen > -1 %}
    {{ post.Content | safe | truncatechars_html:shortlen }}
    <div class="read-more-link">
      <a href="post/{{ post.Slug }}.html">Read more...</a>
    </div>
    {% else %}
    {{ post.Content | safe }}
    {% endif %}
  </div>
  <div class="post-meta post-perma"><a href="post/{{ post.Slug }}.html#disqus_thread">Comments</a>, <a href="post/{{ post.Slug }}.html">permalink</a>.</div>
</div>
{% empty %}
No posts.
{% endfor %}
<div id="pagination">
  {% if current_page > 1 %}
  <a href="page/{{ current_page - 1 }}.html">[previous page]</a>
  {% endif %}
  Page <span>{{ current_page }}</span> of <span>{{ page_count }}</span>
  {% if current_page < page_count %}
  <a href="page/{{ current_page + 1}}.html">[next page]</a>
  {% endif %}
</div>
<script id="dsq-count-scr" src="//{{ disqus_shortname }}.disqus.com/count.js" async></script>
{% endblock %}
